
.comprar{
  color: whitesmoke;
  border: none;
  background-color: blueviolet;
  width: 90%;
  margin: 0 5%;
  box-sizing: border-box;
  padding: 1%;
  transition: all 0.4s;
  height: 50px;
  border-radius: 10px;
  align-content: center;
}

.comprar:hover {
  box-shadow: 2px 2px 5px black;
  transition: all 0.4s;

}

.comprar h2{
  text-align: center;
  width: 20%;
  display: inline-block;
}

mat-icon {
  width: 20%;
    display: inline-block;
}
